.mail-sidebar {
  overflow: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}
.mail-sidebar .compose {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 1.1em;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.mail-sidebar .active {
  font-weight: bold;
}
.mail-sidebar nav h3 {
  margin-bottom: 10px;
  margin-top: 20px;

  font-size: 1em;
  letter-spacing: 0.08em;
}
.mail-sidebar .folders {
  display: flex;
  flex-direction: column;
}
.mail-sidebar .folders svg {
  margin-right: 15px;
  fill: var(--color-grey-icons);
}
.mail-sidebar .folders li {
  width: 100%;
  padding: 6px 0;

  border-bottom: 1px solid var(--color-border-light-grey);
}
.mail-sidebar .folders li:first-child a {
  display: flex;
  justify-content: space-between;
}
.mail-sidebar .folders li:hover {
  background-color: var(--color-border-light-grey);
}

.mail-sidebar .folders li .count {
  background-color: var(--color-yellow);
  padding: 0px 12px;
  color: var(--color-white);
  border-radius: 5px;
}

.mail-sidebar .categories li {
  padding: 6px 0;
}
.mail-sidebar .categories li .dot {
  height: 14px;
  width: 14px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}
.mail-sidebar .labels {
  display: flex;
  flex-wrap: wrap;
}
.mail-sidebar .labels li {
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 0.9em;
  margin-right: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.mail-sidebar .labels li svg {
  margin-right: 5px;
  fill: var(--color-grey-icons);
}

.mail-sidebar .compose-email {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.mail-sidebar .compose-email label {
  margin-top: 15px;
  margin-bottom: 2px;
}
.mail-sidebar .compose-email input {
  border: none;
  border-bottom: 1px solid var(--color-green);
  background-color: transparent;
  padding: 0px 5px;
  height: 25px;
  outline: none;
  font-family: inherit;
  font-size: 1em;
}
.mail-sidebar .compose-email textarea {
  border: none;
  border: 1px solid var(--color-green);
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  padding: 10px;
}
