.mail-container {
  background-color: var(--color-white);
  height: 100%;
  overflow: auto;

  border: 1px solid var(--color-border);
}

@media (min-width: 768px) {
  .mail-container {
    margin-right: 30px;
  }
}
