.top-bar {
  background-color: var(--color-white);
  padding: 15px;
  display: flex;
  align-items: center;
}

.top-bar .dashboard-icon {
  background-color: var(--color-green);
  padding: 10px;
  border-radius: 5px;
  display: grid;
  place-items: center;
}
.top-bar .dashboard-icon svg {
  fill: var(--color-white);
}

.top-bar input {
  border: none;
  font-size: 1.1em;
  margin-left: 2em;
}
.top-bar .actions {
  margin-left: auto;
  display: grid;
  place-items: center;
  column-gap: 20px;
  grid-template-columns: 20px 20px 1fr;
  margin-right: 50px;
}
.top-bar .actions .mail,
.top-bar .actions .notification {
  position: relative;
  width: 20px;
  height: 20px;
}
.top-bar .actions .mail svg:hover,
.top-bar .actions .notification svg:hover {
  fill: var(--color-green);
  cursor: pointer;
}
.top-bar .actions .count {
  position: absolute;
  padding: 0px 10px;
  background-color: var(--color-yellow);
  color: var(--color-white);
  border-radius: 5px;
  font-size: 0.7em;
  font-weight: bold;
  top: -15px;
  right: -15px;
}
.top-bar .actions .notification .count {
  background-color: var(--color-green);
}
.top-bar .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
  padding: 5px 5px;
}
.top-bar .logout:hover {
  border: 1px solid var(--color-border);
  background-color: var(--color-border-light-grey);
  border-radius: 5px;
}
.top-bar .logout svg {
  margin-right: 10px;
}

.top-bar .actions svg {
  fill: var(--color-grey-icons);
}
