.top-bar {
  background-color: var(--color-white);
  padding: 15px;
  display: flex;
  align-items: center;
}
.top-bar input {
  border: none;
  font-size: 1.1em;
  margin-left: 2em;
}
.top-bar .actions {
  margin-left: auto;
  display: grid;
  place-items: center;
  column-gap: 20px;
  grid-template-columns: 20px 20px 1fr;
  margin-right: 50px;
}
.top-bar .actions img {
  filter: grayscale(100%);
}
.top-bar .logout {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
}
.top-bar .logout:hover {
  border: 1px solid var(--color-border-light-grey);
  background-color: var(--color-button-hover);
  border-radius: 5px;
}

.top-bar .logout .logout-icon {
  margin-right: 10px;
}
