.login {
  height: 100vh;
  width: 100vw;
  margin: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f2f2;
}

.login h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  opacity: 0.85;
}

.login label {
  font-size: 12.5px;
  color: #000;
  opacity: 0.8;
  font-weight: 400;
}

.login form {
  padding: 40px 30px;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 400px;
}
.login form h4 {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.login form h4 span {
  color: black;
  font-weight: 700;
}
.login form p {
  line-height: 155%;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
  opacity: 0.65;
  font-weight: 400;
  max-width: 200px;
  margin-bottom: 40px;
}

.login button {
  -webkit-appearance: none;
  width: auto;
  min-width: 100px;
  border-radius: 24px;
  text-align: center;
  padding: 15px 40px;
  margin-top: 5px;
  background-color: #0b5095;
  color: #fff;
  font-size: 14px;
  margin-left: auto;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
}
.login button:hover {
  transform: translateY(-3px);
}
.login button:hover:active {
  transform: scale(0.99);
}

.login input {
  font-size: 16px;
  padding: 10px 0px;
  height: 36px;
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 280px;
  font-weight: 400;
  -webkit-appearance: none;
}
.login input:focus {
  border-bottom: solid 1px #0b5095;
  outline: 0;
}

.login .container {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);
}

.login .left {
  width: 300px;
  height: auto;
  min-height: 100%;
  background-image: url("https://images.unsplash.com/photo-1528716321680-815a8cdb8cbe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
@media (max-width: 767px) {
  .left {
    display: none;
  }
}
.login .left svg {
  height: 40px;
  width: auto;
  margin: 20px;
}
.login .error {
  border-bottom: solid 1px var(--color-warning);
}
