.mail-row {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid var(--color-border-light-grey);
  cursor: pointer;
}
.mail-summary {
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-rows: minmax(30px, auto) 1fr;
}
.mail-row .mail-summary .name {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.mail-row .mail-summary .time {
  display: flex;
  justify-content: flex-end;
}

.mail-row .mail-summary .name .category-name {
  font-weight: normal;
  padding: 0 8px;
  border-radius: 5px;
  font-size: 0.9em;
  color: var(--color-white);
}
.mail-row .mail-summary .subject {
  grid-row: 2/3;
  grid-column: 1/3;
}

@media (min-width: 1200px) {
  .mail-row {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 1fr;
  }
  .mail-summary {
    display: grid;
    grid-template-columns: 1fr 2fr 80px;
    grid-template-rows: 1fr;
  }
  .mail-row .mail-summary .subject {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

.read-mail {
  background-color: var(--color-mail-bg);
}

.unread-mail {
  font-weight: bold;
}
