.sidebar {
  background-color: var(--color-primary);
  color: var(--color-menu-inactive);
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}
.sidebar nav {
  width: 100%;
}
.sidebar + ul {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.sidebar ul li {
  width: 100%;
  font-size: 1.2em;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  padding: 15px;
  padding-left: 28px;
}
.sidebar nav ul li svg {
  fill: var(--color-menu-inactive);
  margin-right: 15px;
  width: 20px;
}
.sidebar ul li .active {
  padding-left: 25px;
  color: var(--color-white);
  background-color: var(--color-primary-light);
  border-left: 3px solid var(--color-green);
}
.sidebar ul li .active svg {
  fill: var(--color-white);
}

.sidebar .nested-menu {
  display: none;
}

.sidebar .active-menu {
  display: block;
  padding-bottom: 10px;
  background-color: var(--color-primary-light);
  border-left: 3px solid var(--color-green);
}
.sidebar .active-menu li {
  font-size: 0.9em;
  padding: 5px;
  padding-left: 50px;
}
.sidebar .active-menu li a {
  padding: 0;
}
.sidebar .active-menu li .active {
  border: none;
}
/* .sidebar .active-menu li .active {
  background-color: var(--color-primary-light);
} */

/*
.sidebar ul li a,
.sidebar ul li div {
  width: 100%;
  padding-left: 30px;
}
.sidebar ul li .active {
  width: 100%;
  height: 100%;
  border-left: 3px solid var(--color-green);
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

.sidebar .sub-menu {
  margin-top: 10px;
  color: var(--color-menu-inactive);
  font-size: 0.9em;
}
 .sidebar .sub-menu ul li {
  padding: 5px 0;
} 
.sidebar .sub-menu .sub-active {
  color: var(--color-white);
}
*/
