.app {
  overflow: hidden;
}
@media (min-width: 768px) {
  .app {
    display: grid;
    grid-auto-rows: 100vh;
    grid-template-columns: 280px 1fr;
  }
}

.main-container {
  background-color: var(--color-bg-grey);
}
@media (min-width: 768px) {
  .main-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 250px 1fr;
  }
}

.mail-container {
  background-color: var(--color-white);
  height: 100%;
  overflow: auto;
  margin: 10px;
}

.dashboard-icon {
  background-color: var(--color-green);
  padding: 10px;
  border-radius: 5px;
  display: grid;
  place-items: center;
}
.dashboard-icon svg path {
  stroke: var(--color-white);
}
