:root {
  --color-primary: #2f4050;
  --color-primary-light: #293846;
  --color-text-primary: #686b6d;
  --color-bg-grey: #f3f3f4;
  --color-grey-icons: #3d4d5d;
  --color-border-light-grey: #e7eaec;
  --color-menu-inactive: #a7b1c2;
  --color-mail-bg: #f9f8f8;

  --color-green: #1bb394;
  --color-red: #ed5565;
  --color-blue: #1c84c6;
  --color-turquoise-blue: #23c6c8;
  --color-yellow: #f8ac59;
  --color-white: #ffffff;

  --color-border: #eaeaea;
  --color-warning: #c22d74;
  --color-success: #06847b;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  color: var(--color-text-primary);
  min-height: 100%;
}

html,
body {
  min-width: 100vw;
}
ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border: none;
}
button:focus {
  outline: none;
}
